In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('creditcard.csv')

In [20]:
df.iloc[:, 1:].head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [21]:
df_to_store = df.iloc[:, 1:]
df_to_store.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [33]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
import numpy as np

new_values = np.zeros(df_to_store.shape)
scaled_features= MinMaxScaler().fit_transform(df_to_store.values[:,:-1])
new_values[:, :-1] = scaled_features
new_values[:,-1] =df_to_store['Class']
scaled_features_df = pd.DataFrame(new_values, index=df_to_store.index, columns=df_to_store.columns)

scaled_features_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.935192,0.766490,0.881365,0.313023,0.763439,0.267669,0.266815,0.786444,0.475312,0.510600,...,0.561184,0.522992,0.663793,0.391253,0.585122,0.394557,0.418976,0.312697,0.005824,0.0
1,0.978542,0.770067,0.840298,0.271796,0.766120,0.262192,0.264875,0.786298,0.453981,0.505267,...,0.557840,0.480237,0.666938,0.336440,0.587290,0.446013,0.416345,0.313423,0.000105,0.0
2,0.935217,0.753118,0.868141,0.268766,0.762329,0.281122,0.270177,0.788042,0.410603,0.513018,...,0.565477,0.546030,0.678939,0.289354,0.559515,0.402727,0.415489,0.311911,0.014739,0.0
3,0.941878,0.765304,0.868484,0.213661,0.765647,0.275559,0.266803,0.789434,0.414999,0.507585,...,0.559734,0.510277,0.662607,0.223826,0.614245,0.389197,0.417669,0.314371,0.004807,0.0
4,0.938617,0.776520,0.864251,0.269796,0.762975,0.263984,0.268968,0.782484,0.490950,0.524303,...,0.561327,0.547271,0.663392,0.401270,0.566343,0.507497,0.420561,0.317490,0.002724,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,0.756448,0.873531,0.666991,0.160317,0.729603,0.236810,0.235393,0.863749,0.528729,0.598850,...,0.564920,0.515249,0.680500,0.313600,0.658558,0.466291,0.433929,0.329840,0.000030,0.0
284803,0.945845,0.766677,0.872678,0.219189,0.771561,0.273661,0.265504,0.788548,0.482925,0.488530,...,0.564933,0.553153,0.665619,0.245298,0.543855,0.360884,0.417775,0.312038,0.000965,0.0
284804,0.990905,0.764080,0.781102,0.227202,0.783425,0.293496,0.263547,0.792985,0.477677,0.498692,...,0.565220,0.537005,0.664877,0.468492,0.592824,0.411177,0.416593,0.312585,0.002642,0.0
284805,0.954209,0.772856,0.849587,0.282508,0.763172,0.269291,0.261175,0.792671,0.476287,0.500464,...,0.565755,0.547353,0.663008,0.398836,0.545958,0.514746,0.418520,0.315245,0.000389,0.0
284806,0.949232,0.765256,0.849601,0.229488,0.765632,0.256488,0.274963,0.780938,0.479528,0.489782,...,0.565688,0.540031,0.671029,0.383420,0.551319,0.291786,0.416466,0.313401,0.008446,0.0

In [34]:
max(scaled_features_df['Class']) , max(scaled_features_df['Amount']), min(scaled_features_df['Amount'])

(1.0, 1.0, 0.0)

In [36]:
scaled_features_df.to_csv('creditcard_clean.csv',index=False)

In [41]:
df_vesta = pd.read_csv('vesta_fullDataset.csv')

In [48]:
df_vesta.iloc[:,2:].drop('TransactionDT', axis=1).head()

,isFraud,TransactionAmt,card1,card2,card3,card5,C1,C2,C3,C4,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,0,68.5,13926,NaN,150.0,142.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0,0.0
1,0,29.0,2755,404.0,150.0,102.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,59.0,4663,490.0,150.0,166.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,50.0,18132,567.0,150.0,117.0,2.0,5.0,0.0,0.0,...,135.0,0.0,0.0,0.0,50.0,1404.0,790.0,0.0,0.0,0.0
4,0,50.0,4497,514.0,150.0,102.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
df_toStore = df_vesta.iloc[:,2:].drop('TransactionDT', axis=1)
df_toStore.head(6)

,isFraud,TransactionAmt,card1,card2,card3,card5,C1,C2,C3,C4,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,0,68.5,13926,NaN,150.0,142.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0,0.0
1,0,29.0,2755,404.0,150.0,102.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,59.0,4663,490.0,150.0,166.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,50.0,18132,567.0,150.0,117.0,2.0,5.0,0.0,0.0,...,135.0,0.0,0.0,0.0,50.0,1404.0,790.0,0.0,0.0,0.0
4,0,50.0,4497,514.0,150.0,102.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,49.0,5937,555.0,150.0,226.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
#df['col']=(df['col']-df['col'].min())/(df['col'].max()-df['col'].min())

# For all columns but isFraud apply the line above
for column in df_toStore.columns:
    df_toStore[column] = (df_toStore[column]-df_toStore[column].min())/(df_toStore[column].max()-df_toStore[column].min())

df_toStore.head()

,isFraud,TransactionAmt,card1,card2,card3,card5,C1,C2,C3,C4,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,0.0,0.002137,0.743044,NaN,0.381679,0.306569,0.000213,0.000176,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000873,0.000000,0.0,0.0,0.0
1,0.0,0.000900,0.100885,0.608,0.381679,0.014599,0.000213,0.000176,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.001839,0.210566,0.780,0.381679,0.481752,0.000213,0.000176,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.001558,0.984824,0.934,0.381679,0.124088,0.000427,0.000878,0.0,0.0,...,0.002448,0.0,0.0,0.0,0.000533,0.010476,0.008022,0.0,0.0,0.0
4,0.0,0.001558,0.201023,0.828,0.381679,0.014599,0.000213,0.000176,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0

In [67]:
# Move isFraud to the right
from copy import copy
df = copy(df_toStore)
column_to_move = df.pop("isFraud")
df.insert(df_toStore.shape[1]-1, "isFraud", column_to_move)
df.head()

C:\Users\dalun\AppData\Local\Temp\ipykernel_39684\3893080557.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(df_toStore.shape[1]-1, "isFraud", column_to_move)

,TransactionAmt,card1,card2,card3,card5,C1,C2,C3,C4,C5,...,V313,V314,V315,V316,V317,V318,V319,V320,V321,isFraud
0,0.002137,0.743044,NaN,0.381679,0.306569,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000873,0.000000,0.0,0.0,0.0,0.0
1,0.000900,0.100885,0.608,0.381679,0.014599,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,0.001839,0.210566,0.780,0.381679,0.481752,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.001558,0.984824,0.934,0.381679,0.124088,0.000427,0.000878,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000533,0.010476,0.008022,0.0,0.0,0.0,0.0
4,0.001558,0.201023,0.828,0.381679,0.014599,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [70]:
df.to_csv('vesta_fullDataset_preprocessed.csv', index=False)

In [71]:
new_df_vesta = pd.read_csv('vesta_fullDataset_preprocessed.csv')
new_df_vesta.head()

,TransactionAmt,card1,card2,card3,card5,C1,C2,C3,C4,C5,...,V313,V314,V315,V316,V317,V318,V319,V320,V321,isFraud
0,0.002137,0.743044,NaN,0.381679,0.306569,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000873,0.000000,0.0,0.0,0.0,0.0
1,0.000900,0.100885,0.608,0.381679,0.014599,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,0.001839,0.210566,0.780,0.381679,0.481752,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.001558,0.984824,0.934,0.381679,0.124088,0.000427,0.000878,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000533,0.010476,0.008022,0.0,0.0,0.0,0.0
4,0.001558,0.201023,0.828,0.381679,0.014599,0.000213,0.000176,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0